<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=windows-1252"/>
	<title>FS Flight Builder</title>
</head>
<body lang="en-US" dir="ltr">
    <p>
        FS Flight Builder is a flight making application for FSX, FSXSE, and
        Prepar3D general aviation flights.  Flight routes can be added manually or imported from the
        SkyVector Plain Text link.  It automatically  adds a briefing file to
        the aircraft kneeboard with departure and destination airport information, including runways,
        frequencies, weather, and charts.
    </p>
    <p style="margin-bottom: 0.14in; line-height: 115%; orphans: 0; widows: 0">
        <br />
        The latest version is available at <a href="http://www.arduiniwebdevelopment.com/fsflightbuilder/fsflightbuilder.zip">http://www.arduiniwebdevelopment.com/fsflightbuilder/fsflightbuilder.zip</a>
    </p>
    <br />
    <p><u>Legal stuff</u></p>
    <p style="margin-bottom: 0.14in; line-height: 115%; orphans: 0; widows: 0">
        <font face="Calibri, serif">
            <font size="2" style="font-size: 11pt">
                <span lang="en">
                    This
                    program is released as Freeware.  As freeware you are permitted to
                    distribute this archive subject to the following conditions,
                </span>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0.14in; line-height: 115%; orphans: 0; widows: 0">
        <font face="Calibri, serif">
            <font size="2" style="font-size: 11pt">
                <span lang="en">
                    -
                    The archive must be distributed without modification to the contents
                    of the archive. Redistributing this archive with any files added,
                    removed or modified is prohibited.
                </span>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0.14in; line-height: 115%; orphans: 0; widows: 0">
        <font face="Calibri, serif">
            <font size="2" style="font-size: 11pt">
                <span lang="en">
                    -
                    The inclusion of any individual file from this archive in another
                    archive without the prior permission of the author is prohibited.
                </span>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0.14in; line-height: 115%; orphans: 0; widows: 0">
        <font face="Calibri, serif">
            <font size="2" style="font-size: 11pt">
                <span lang="en">
                    -
                    No charge may be made for this archive other than that to cover the
                    cost of its distribution. If a fee is charged it must be made clear
                    to the purchaser that the archive is freeware and that the fee is to
                    cover the distributor's costs of providing the archive.
                </span>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0.14in; line-height: 115%; orphans: 0; widows: 0">
        <font face="Calibri, serif">
            <font size="2" style="font-size: 11pt">
                <span lang="en">
                    -
                    The authors' rights and wishes concerning this archive must be
                    respected.
                </span>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0.14in; line-height: 115%; orphans: 0; widows: 0">
        <font face="Calibri, serif">
            <font size="2" style="font-size: 11pt">
                <span lang="en">
                    <u>
                        Copyright
                        2020 by <a href="mailto:tarduini@arduiniwebdevelopment.com">Tom Arduini</a>. All Rights Reserved.
</u>
                </span>
            </font>
        </font>
    </p>
</body>
</html>