<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FSFlightBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.5.1964" newVersion="2.1.5.1964" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.WebView2.WinForms" publicKeyToken="2a8ab48044d2601e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1823.32" newVersion="1.0.1823.32" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.WebView2.Core" publicKeyToken="2a8ab48044d2601e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1823.32" newVersion="1.0.1823.32" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="FSFBDbConn" connectionString="metadata=res://*/FSFBModel.csdl|res://*/FSFBModel.ssdl|res://*/FSFBModel.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=|DataDirectory|fsflightbuilder.db&quot;" providerName="System.Data.EntityClient" />
    <add name="FSFBDbConnTmp" connectionString="metadata=res://*/FSFBModel.csdl|res://*/FSFBModel.ssdl|res://*/FSFBModel.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=|DataDirectory|fsflightbuildertmp.db&quot;" providerName="System.Data.EntityClient" />-->
	  <add name="FSFBDbConn" connectionString="Data Source=|DataDirectory|fsflightbuilder.db;foreign keys=true" />
	  <add name="NDRDbConn" connectionString="Data Source=|DataDirectory|navdata.db;foreign keys=true" />
	  <add name="FSFBDbConnTmp" connectionString="Data Source=|DataDirectory|fsflightbuildertmp.db;foreign keys=true" />
  </connectionStrings>
  <userSettings>
    <FSFlightBuilder.Properties.Settings>
      <setting name="AIRAC" serializeAs="String">
        <value />
      </setting>
      <setting name="ChartNotification" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChooserSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="DeleteImagesOnClose" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FlightSim" serializeAs="String">
        <value />
      </setting>
      <setting name="FSXAirplanesPath" serializeAs="String">
        <value />
      </setting>
      <setting name="FSXAppDataPath" serializeAs="String">
        <value />
      </setting>
      <setting name="FSXCustomFSPath" serializeAs="String">
        <value />
      </setting>
      <setting name="FSXFPPath" serializeAs="String">
        <value />
      </setting>
      <setting name="FSXInstalled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FSXSEAirplanesPath" serializeAs="String">
        <value />
      </setting>
      <setting name="FSXSEAppDataPath" serializeAs="String">
        <value />
      </setting>
      <setting name="FSXSECustomFSPath" serializeAs="String">
        <value />
      </setting>
      <setting name="FSXSEFPPath" serializeAs="String">
        <value />
      </setting>
      <setting name="FSXSEInstalled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FSXSEVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="FSXVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="IncludeTOC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludeTOD" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastFlight" serializeAs="String">
        <value />
      </setting>
      <setting name="MSFSAirplanesPath" serializeAs="String">
        <value />
      </setting>
      <setting name="MSFSAppDataPath" serializeAs="String">
        <value />
      </setting>
      <setting name="MSFSCustomFSPath" serializeAs="String">
        <value />
      </setting>
      <setting name="MSFSFPPath" serializeAs="String">
        <value />
      </setting>
      <setting name="MSFSInstalled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MSFSVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="P3DAirplanesPath" serializeAs="String">
        <value />
      </setting>
      <setting name="P3DAppDataPath" serializeAs="String">
        <value />
      </setting>
      <setting name="P3DCustomFSPath" serializeAs="String">
        <value />
      </setting>
      <setting name="P3DFPPath" serializeAs="String">
        <value />
      </setting>
      <setting name="P3DInstalled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="P3DVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="PF3Path" serializeAs="String">
        <value />
      </setting>
      <setting name="Service" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdateOnStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseSystem" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FSXDefaultFSPath" serializeAs="String">
        <value />
      </setting>
      <setting name="FSXSEDefaultFSPath" serializeAs="String">
        <value />
      </setting>
      <setting name="P3DDefaultFSPath" serializeAs="String">
        <value />
      </setting>
      <setting name="MSFSDefaultFSPath" serializeAs="String">
        <value />
      </setting>
    </FSFlightBuilder.Properties.Settings>
  </userSettings>
</configuration>